* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  padding: 45px;
}

.list {
  padding: 0px 0px 20px 0px;
  font-size: 18px;
}

.list li {
  margin: 15px 0px 0px 0px;
}

.list1 {
  padding: 0px 0px 25px 0px;
  font-size: 18px;
}

.list1 li {
  margin: 15px 0px 0px 0px;
}

.list1 li:nth-child(2):hover {
  color: red;
}

.textbutton {
  width: 200px;
  height: 40px;
  margin: 140px 95px 0px 0px;
  border: 1px solid #000;
  border-radius: 20px;
  font-size: 18px;
  background-color: #80b7b3;
}

.textbutton1 {
  width: 200px;
  height: 40px;
  margin: 0px 95px 0px 0px;
  border: 1px solid #000;
  border-radius: 20px;
  font-size: 18px;
  background-color: #fff;
}

.textbutton2 {
  width: 200px;
  height: 40px;
  margin: 0px 95px 0px 0px;
  border: 1px solid #000;
  border-radius: 20px;
  font-size: 18px;
  background-color: #fff;
}

.textbutton1:hover {
  background-color: #80b7b3;
}

.textbutton2:active {
  background-color: #80b7b3;
}

.textinput {
  width: 290px;
  height: 50px;
  margin: 125px 0px 0px 0px;
  border: 1px solid #000;
}

.textinput:focus {
  -webkit-box-shadow: 2px 2px 2px 2px #666;
          box-shadow: 2px 2px 2px 2px #666;
}

.textinput1 {
  width: 290px;
  height: 50px;
  margin: 125px 0px 0px 0px;
  border: 1px solid #000;
}

.textinput1:focus {
  -webkit-box-shadow: 2px 2px 2px 2px #666;
          box-shadow: 2px 2px 2px 2px #666;
}
