@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*
// ! Шрифты скаченые (пример неработает фаил не открывается)

   @font-face {
      font-family: 'PFDinTextCondPro';
      src: url('D://LESSON_CSS/FONTS/pfdintextcondpro/pfdintextcondpro-regular/PFDinTextCondPro-Regular.eot');
      src: url('D://LESSON_CSS/FONTS/pfdintextcondpro/pfdintextcondpro-regular/PFDinTextCondPro-Regular.eot?#iefix') format('embedded-opentype'),
            url('D://LESSON_CSS/FONTS/pfdintextcondpro/pfdintextcondpro-regular/PFDinTextCondPro-Regular.woff') format('woff'),
            url('D://LESSON_CSS/FONTS/pfdintextcondpro/pfdintextcondpro-regular/PFDinTextCondPro-Regular.ttf') format('truetype'),
            url('D://LESSON_CSS/FONTS/pfdintextcondpro/pfdintextcondpro-regular/PFDinTextCondPro-Regular.svg#PFDinTextCondPro-Regular') format('svg');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
   } 


   @font-face {
   font-family: 'PFDinTextCondPro';
   src: url('D://LESSON_CSS/FONTS/pfdintextcondpro/pfdintextcondpro-medium/PFDinTextCondPro-Medium.eot');
   src: url('D://LESSON_CSS/FONTS/pfdintextcondpro/pfdintextcondpro-medium/PFDinTextCondPro-Medium.eot?#iefix') format('embedded-opentype'),
         url('D://LESSON_CSS/FONTS/pfdintextcondpro/pfdintextcondpro-medium/PFDinTextCondPro-Medium.woff') format('woff'),
         url('D://LESSON_CSS/FONTS/pfdintextcondpro/pfdintextcondpro-medium/PFDinTextCondPro-Medium.ttf') format('truetype'),
         url('D://LESSON_CSS/FONTS/pfdintextcondpro/pfdintextcondpro-medium/PFDinTextCondPro-Medium.svg#PFDinTextCondPro-Medium') format('svg');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}  

*/
/*==========================================*/
.text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
}

.text p {
  margin: 0px 0px 20px 0px;
}

.no {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
}

.no p {
  margin: 0px 0px 20px 0px;
}
