// Обнуляющий стиль
@import "_nool";

//===========================================

// Шрифты 
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&display=swap');

//===========================================

.text {
   font-family: "PT Sans";
   font-weight: 700;
   font-size: 20px;
   line-height: 35px;
   p{margin: 0px 0px 20px 0px;}
}


