@charset "UTF-8";

// Обнуляющий стиль
@import "_nool";

//===========================================

// Шрифты с интернета 
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&display=swap');

//===========================================

// ! Шрифты скаченые (пример неработает фаил не открывается)

   @font-face {
      font-family: 'PFDinTextCondPro';
      src: url('D://LESSON_CSS/FONTS/pfdintextcondpro/pfdintextcondpro-regular/PFDinTextCondPro-Regular.eot');
      src: url('D://LESSON_CSS/FONTS/pfdintextcondpro/pfdintextcondpro-regular/PFDinTextCondPro-Regular.eot?#iefix') format('embedded-opentype'),
            url('D://LESSON_CSS/FONTS/pfdintextcondpro/pfdintextcondpro-regular/PFDinTextCondPro-Regular.woff') format('woff'),
            url('D://LESSON_CSS/FONTS/pfdintextcondpro/pfdintextcondpro-regular/PFDinTextCondPro-Regular.ttf') format('truetype'),
            url('D://LESSON_CSS/FONTS/pfdintextcondpro/pfdintextcondpro-regular/PFDinTextCondPro-Regular.svg#PFDinTextCondPro-Regular') format('svg');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
   } 


   @font-face {
   font-family: 'PFDinTextCondPro';
   src: url('D://LESSON_CSS/FONTS/pfdintextcondpro/pfdintextcondpro-medium/PFDinTextCondPro-Medium.eot');
   src: url('D://LESSON_CSS/FONTS/pfdintextcondpro/pfdintextcondpro-medium/PFDinTextCondPro-Medium.eot?#iefix') format('embedded-opentype'),
         url('D://LESSON_CSS/FONTS/pfdintextcondpro/pfdintextcondpro-medium/PFDinTextCondPro-Medium.woff') format('woff'),
         url('D://LESSON_CSS/FONTS/pfdintextcondpro/pfdintextcondpro-medium/PFDinTextCondPro-Medium.ttf') format('truetype'),
         url('D://LESSON_CSS/FONTS/pfdintextcondpro/pfdintextcondpro-medium/PFDinTextCondPro-Medium.svg#PFDinTextCondPro-Medium') format('svg');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}  




   /*==========================================*/

.text {
   font-family: 'PFDinTextCondPro';
   font-weight: normal;
   font-size: 20px;
   line-height: 35px;
   p{margin: 0px 0px 20px 0px;}
}


.no {
   font-family: 'PFDinTextCondPro';
   font-weight: 500;
   font-size: 20px;
   line-height: 35px;
   p{margin: 0px 0px 20px 0px;}
   
}