@charset "UTF-8";

// Обнуляющий стиль
@import "_nool";
@import "_fonts";
//===========================================

.text {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: normal;
   font-size: 20px;
   line-height: 35px;
   p{margin: 0px 0px 20px 0px;}
}


.no {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: normal;
   font-size: 20px;
   line-height: 35px;
   p{margin: 0px 0px 20px 0px;}
   
}